<p>客官，侬好: </p>

<p>我们收到了您注册邮箱 <%= @resource.email %> 发起的账户维护请求!</p>

<p>您的账户申请变更密码. 您可通过点击下面的链接, 完成密码修改</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如非本人操作, 请忽略本邮件, 同时注意维护账户安全, 谨防个人信息泄露.</p>

<p>您必须访问上述链接, 才能完成密码修改.</p>

<p></p>

<p>小岛团队</p>
