<p>客官，侬好: </p>

<p>我们收到了您注册邮箱 <%= @resource.email %> 发起的账户维护请求!</p>

<p>由于连续, 多次的错误密码输入, 您的账户已被锁定.</p>

<p>您可以点击以下链接以解除锁定:</p>

<p><%= link_to '解除锁定', unlock_url(@resource, unlock_token: @token) %></p>

<p></p>

<p>小岛团队</p>
